﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>RD Inbox</title>
    <meta charset="utf-8" />
</head>
<body ng-controller="RootController as vm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h2 class="title">{{ vm.title }}</h2>
                </div>
            </div>
        </div>

        <div ng-controller="MailController as mail">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <button ng-click="mail.gotoNewMail(mail.newMailForm)" class="btn btn-success">New</button>
                    </div>
                    <div class="list-group">
                        <a ng-click="mail.setSelectedTo(m)" ng-class="{active: mail.selectedMail.id === m.id}" ng-repeat="m in mail.mails" class="list-group-item">
                            {{ m.title }} <span class="badge">{{m.type}}</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div ng-show="mail.pageState.newMode">
                        <form name="mail.newMailForm" novalidate>
                            <div ng-show="mail.newMailForm.$submitted && mail.newMailForm.$invalid" class="alert alert-danger">
                                <div ng-repeat="(key, errors) in mail.newMailForm.$error">
                                    {{ key }}:
                                    <ul>
                                        <li ng-repeat="e in errors">{{ e.$name }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" ng-click="mail.saveMail(mail.newMailForm, mail.newMail)">
                                    Send
                                </button>
                                <div ng-click="mail.setPageState(false, false, true)" class="btn btn-default">
                                    Cancel
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="title">
                                    Title
                                </label>
                                <input type="text" required name="title" ng-model="mail.newMail.title" id="title" class="form-control"/>

                            </div>
                            <div class="form-group">
                                <label for="to">
                                   To    
                                </label>
                                <input type="text" required id="to" name="to" class="form-control" ng-model="mail.newMail.to"/>
                            </div>

                            <div class="form-group">
                                <label for="description">
                                   Description 
                                </label>
                                <textarea id="description" required name="description" class="form-control" ng-model="mail.newMail.description"></textarea>
                            </div>
                        </form>

                    </div>
                    <div ng-show="mail.pageState.readMode">
                        <div class="form-group">
                            <div class="btn btn-primary">
                                Reply
                            </div>
                        </div>
                        <h3>{{ mail.selectedMail.title }} -- {{ mail.selectedMail.from }} {{ mail.selectedMail.to }}</h3>
                        <p>{{ mail.selectedMail.description }}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>
